.blog{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
body :where(h1, h2, h3, p)::first-letter{
    font-size: 200%;
    font-weight: bold;
    color: #8A2BE2;
    
}
p::first-line{
    font-size: 20px;
    text-decoration: underline;
}
::selection {
    color: rgb(16, 204, 204);
    background: yellow
}
p{ 
    color: black;
}
:nth-of-type(1) {
    color: red;
}
h2 {
    margin: 20px 0;
}
.heading {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}
.heading-back {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    cursor: pointer;
    min-width: 200px;
}
.heading-img, .user-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 20px;

}
.heading-css {
    padding-top: 10px;
    opacity: 0.5;
}
.search .input{
    display: block;
    font-size: 1rem;
    padding: 15px;
    height: 20px;
    width: 400px;
    margin-top: 12px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}
.search {
    padding-bottom: 8px;
    width: 100%;
}
.user {
    display: flex;
    min-width: 200px;
    padding-top: 10px;
}
.user-text {
    margin-right: 20px;
}
.user-img {
    border-radius: 50%;
}
.alarm {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.title {
    margin-top: 40px;
}
.user-name {
    margin-left: 15px;
    display: flex;
    font-weight: 100;
}
.human{
    display: flex;
    margin-top: 40px;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
}
.human-img {
    border-radius: 50%;
}
.human-left {
    font-size: .9rem;
    width: 50%;
}
.human-text p b {
    margin-left: 15px;
    font-size: 1rem;
}
.human-text p {
    margin-right: 10px;
    font-size: .9rem;
}
.date {
    margin-left: 15px;
    display: flex;
    font-weight: 100;
}
.human-right {
    margin-left: auto;
}
.pin {
    margin-right: 5px;
}
.pin:hover {
    cursor: pointer;
    color: orange;
}
.font {
    margin-left: 10px;
    margin-right: 20px;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.text {
    line-height: 1.6;
    margin-bottom: 10px;
    margin-left: 5px;
}
li {
    width: 100%;
    list-style:decimal;
    margin: 20px;
    opacity: 0.8;
}
.footer {
    display: flex;
    margin-top: 50px;
}
label {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.img-comment{
    width: 30px;
    height: 30px;
    border-radius: 8px;

}
input {
    width: 350px;
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
}