* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 73px;
    background-color: #3e5cca;
}
.heading {
    list-style: none;
    height: inherit;
    margin-top: 7px;
    padding: 0 54px;
    display: flex;
    justify-content: center;
}
.item {
    min-width: 100px;
    color: #fff;
    height: inherit;
    padding: 24px 34px;
    border: 1px solid wheat;
}
.item:active{
    opacity: 0.5;
}
a:first-child{
    border-left: 2px solid wheat;
}
a:last-child{
    border-right: 2px solid wheat;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: black;
}
ul:hover > :not(:hover){
    opacity: 0.4;
}
li::before {
    content: "\2022";
    padding-right: 3px;
    font-size: 20px;
}